body {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  margin-top: 56px;
  padding: 30px;
}

.nav-link {
  cursor: pointer;
}

a {
  cursor: pointer;
}

.alert {
  position: fixed;
  margin-top: 66px;
}

.tableRow {
  cursor: pointer;
}

.tableRow:hover {
  background-color: #ebebeb;
}

textarea {
  resize: none;
}

img {
  display: block;
  max-width: 100%;
  max-height: 300px;
}

.fas {
  cursor: pointer;
}

.d-none
{
  display: none !important;
}

